# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
env/
venv/
.env
ENV/

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# Static files (optional)
# =========================
staticfiles/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
