 .navbar {
     width: 100%;
     z-index: 9999;
     /* keeps dropdown above everything */
 }

 .container {
     display: flex;
     padding: 20px;
     margin: 0px 0px;
     max-width: 100% !important;
 }

 .sidebar {
     width: 400px;
     border-right: 1px solid #ddd;
 }

 .sidebar ul {
     list-style: none;
 }

 .sidebar li {
     padding: 12px;
     border: 1px solid #eee;
     cursor: pointer;
     color: #000;
 }

 .sidebar li:hover {
     background-color: #f9f9f9;
     color: #000;
 }

 .product-grid {
     flex: 1;
     display: grid;
     justify-content: space-around;
     grid-template-columns: repeat(auto-fit, minmax(250, 1fr));
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     padding-left: 20px;
 }


 .card {
     border: 1px solid #eee;
     text-align: left;
     transition: 0.3s;
 }

 .card img {
     width: 100%;
     height: 200px;
     object-fit: contain;
     background: #fff;
 }

 .card-info {
     padding: 15px;
 }

 .price {
     font-weight: bold;
     margin: 10px 0;
 }

 .add-btn {
     width: 100%;
     padding: 10px;
     background-color: #28a745;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
 }

 .add-btn:hover {
     background-color: #218838;
 }




 .carousel {
     margin-top: 86px;

 }

 h1 {
     top: 34vh;
 }

 a {
     color: #212529;
     text-decoration: blink;
 }

 .filter-badge {
     background: #e9ecef;
     border: 1px solid #dee2e6;
     border-radius: 8px;
     padding: 8px 12px;
     font-size: 0.9rem;
 }

 .card-body {
     cursor: pointer;
 }

 .Logo {
     height: 60px;
     width: auto;
 }

 /* Active/current link */
 .sidebar a.active {
     background-color: #04AA6D;
     color: white;
 }

 /* Links on mouse-over */
 .sidebar a:hover:not(.active) {
     background-color: #555;
     color: white;
 }

 /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 div.content {
     margin-left: 400px;
     padding: 1px 16px;
     height: 1000px;
 }


 /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
 @media screen and (max-width: 400px) {
     .sidebar a {
         text-align: center;
         float: none;
     }
 }

 /* sidebar responsive navbar css*/
 @media (max-width: 400px) {
     .footer-shift {
         margin-left: 0;
         width: 100%;
         height: 100%;
     }

     .footer-shift {
         margin-left: 200px;
         width: calc(100% - 200px);
     }
 }

 @media (max-width: 380px) {
     .sidebar {
         width: 85px;

     }

     .page-shift {
         margin-left: 86px;
         width: calc(130.5% - 200px);
     }

     .footer-shift {
         margin-left: 86px;
         width: calc(130.5% - 200px);
     }
 }